{% extends 'common/base.html' %}
{% load widget_tweaks %}
{% block title %}Log In{% endblock %}

{% block content %}
    <div class='container'>
    <div class='row justify-content-center content-wrapper'>
        <form method='POST'>{% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <input class='form-control' type='submit' value='Send Password Reset Email'>
            </div>
        </form>
    </div>
    </div>
{% endblock %}