{% extends 'common/base.html' %}
{% load widget_tweaks %}
{% block title %}Log In{% endblock %}

{% block content %}
    <div class='container'>
    <div class='row justify-content-center content-wrapper'>
        <form method='POST'>{% csrf_token %}
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                {{ form.new_password1|add_class:"form-control" }}
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger form-error">
                    {% for error in form.new_password1.errors %}
                    <div style="margin:0;padding:0;"><small>{{ error }}</small></div>
                    {% endfor %}
                    </div>
                {% endif %}
                {% if form.new_password1.help_text %}
                    <div class="alert alert-info form-info">
                    <div style="margin:0;padding:0;"><small>{{ form.new_password1.help_text }}</small></div>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}">New Password Confirmation</label>
                {{ form.new_password2|add_class:"form-control" }}
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger form-error">
                    {% for error in form.new_password2.errors %}
                    <div style="margin:0;padding:0;"><small>{{ error }}</small></div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <input class='form-control' type='submit' value='Change Password'>
            </div>
        </form>
    </div>
    </div>
{% endblock %}