{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    {% if is_admin %}
    <div class='container'>
    <p class='text-center mb-0 pb-0' style="font-size:1.4em;"><strong>Staff Sign Up</strong></p><br>
    {% include 'common/signup_form.html' %}
    </div>
    {% elif user.is_authenticated %}
    <div class='container text-center justify-content-center mt-5 pt-5 mb-5 pb-5'>
    <p>You are already logged in.</p><br>
    <a href='{% url 'home' %}'>Go to Homepage</a><br>
    <a href='{% url 'logout' %}'>Log Out</a>
    </div>
    {% else %}
    <div class='container'>
    <p class='text-center mb-0 pb-0' style="font-size:1.4em;"><strong>Customer Sign Up</strong></p><br>
    {% include 'common/signup_form.html' %}
    </div>
    {% endif %}
{% endblock %}