{% extends 'common/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}



<div class="site-section">
<div class='container'>
  <div class="row justify-content-center mb-5">
    <div class="col-md-7">
      <h2 class="site-section-heading font-weight-light text-black text-center">Choose a Service Type</h2>
    </div>
  </div>
</div>
<div class='container'>
    <div class='row'>
    {% for item in objects %}
    <div class='col-lg-4 col-sm-6 col-xs-12 diplay-card'>
        <div class="card h-100">
            <a href="{{ item.icon.url }}" data-lightbox="service-type-admin" data-title="{{ item.name }}" style="height: 200px;">
                <img style="display:block;margin:1.5em auto;height:150px;" src="{{ item.icon.url }}">
            </a>
            <div class="card-body pb-0 mb-0"><strong>{{ item.name }}</strong></div>
            <div class="card-body pt-0 mt-0"><small>{{ item.description }}</small></div>
            <div style='margin:0;padding:0;'>
                <a href="{% url 'service' item.id %}" class="card-link btn btn-info" style='width:100%;'>Browse Services</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>  
</div>

{% endblock %}