{% extends 'common/base.html' %}
{% load thumbnail %}
{% load manage_site_extras %}

{% block title %}Manage Gallery{% endblock %}

{% block content %}

<div class='container'>
    <div class='row justify-content-center'>
        <h1>Manage Staff</h1>
    </div>
    <div class='row'>
    {% for item in objects %}
    <div class='col-lg-4 col-sm-6 col-xs-12 display-card'>
        <div class="card h-100">
            <div class="card-body m-0 p-0">
            <a href="{{ item.photo.url }}" data-lightbox="staff-photo-admin" data-title="{{ item.user.first_name|add:' '|add:item.user.last_name }}">
                <img class="card-img-top" src="{% thumbnail item.photo 500x500 crop quality="100" %}">
            </a>
            </div>
            <div class="card-body p-0 m-0">
            <table class="card-body table table-bordered table-view">
                <tbody>
                    <tr>
                        <td><strong>Username</strong></td>
                        <td>{{ item.user.username }}</td>
                    </tr>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>{{ item.user.first_name|add:' '|add:item.user.last_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td>{{ item.user.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>About</strong></td>
                        <td>{{ item.about }}</td>
                    </tr>
                    <tr>
                        <td><strong>Age</strong></td>
                        <td>{{ item.birthdate|date:'Y'|age }}</td>
                    </tr>
                    <tr>
                        <td><strong>Gender</strong></td>
                        <td>{{ item.gender }}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone Number</strong></td>
                        <td>{{ item.phone_number }}</td>
                    </tr>
                    <tr>
                        <td><strong>Average Rating</strong></td>
                        {% if item.average_rating %}
                        <td>{{ item.average_rating }}</td>
                        {% else %}
                        <td>Not Yet Rated</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Skills</strong></td>
                        <td>
                        {% for service_type in item.service_type.all %}
                            <p class='m-0 p-0'>{{ service_type }}</p>
                        {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div style='margin:0;padding:0;'>
                <a href="{% url 'delete-staff-admin' item.id %}" class="card-link btn btn-danger" style='width:100%;'>Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock content %}



