{% load widget_tweaks %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
{{ field|add_class:'form-control datetimepicker-input'|attr:'data-target:"#datetimepicker1"'}}
    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
</div>

<script>
$(function () {
    $("#datetimepicker1").datetimepicker({
    format: 'YYYY-MM-DD',
    viewMode: 'years'
    });
});
</script>